.tour-main-container{
    width: 40%;
    min-width: 300px;
    margin: 50px auto;
    padding: 40px;
    background-color: rgb(240, 241, 243);
    border-radius: 5px;
}

.tour-box{
    margin: 40px 0;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 20px;
}

.tourImage{
    width: 100%;
    max-height: 350px;
    border-radius: 5px 5px 0 0;
}

.tour-info{
    margin: 20px;
}

.tour-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.tour-name p{
    padding: 5px 10px;
    background-color: rgb(101, 184, 235);
    color: white;
    border-radius: 5px;
}

.readmore-btn{
    background-color: transparent;
    border: none;
    color:rgb(84, 161, 209);
    cursor: pointer;
}

.tour-not-interested{
    display: block;
    margin: 0 auto;
    background-color: transparent;
    width: 180px;
    padding: 8px;
    border-color: red;
    color: red;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.tour-not-interested:hover{
    background-color: red;
    color: white;
}

.tour-refresh-btn{
    display: block;
    margin: 0 auto;
    background-color: transparent;
    width: 180px;
    padding: 8px;
    border-color: green;
    color: green;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.tour-refresh-btn:hover{
    background-color: green;
    color: white;
}