.generate-container{
    max-width: 90%;
    margin: 30px auto;
}

.generate-container form{
    margin: 20px auto;
    text-align: center;
}

.generate-container form label{
    color: rgb(39, 37, 37);
    font-size: 18px;
}

.generate-container form input{
    margin: 0 10px;
    width: 50px;
    height: 25px;
    border: none;
    text-align: center;
}

.generate-container form input:focus{
    outline: none;
}

.generate-container form button{
    border: none;
    background-color: rgb(61, 185, 243);
    color: white;
    height: 25px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.generate-container form button:hover{
    background-color: rgb(50, 160, 211);
}

.lorem-para p{
    margin: 10px 0;
}