.container{
    width: 50%;
    min-width: 300px;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
}

.headline{
    text-align: center;
    margin-bottom: 10px;
}

.profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.closeBtn{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    color: red;
    cursor: pointer;
}

.closeBtn:hover{
    color: white;
    background-color: red;
}

.clear-all{
    display: block;
    margin: 10px auto;
    background-color: transparent;
    border: 2px solid green;
    padding: 5px;
    color: green;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
}

.clear-all:hover{
    background-color: green;
    color: white;
}