.codeUrl{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}
.passwordWrapper{
    display: grid;
    place-items: center;
    height: 90vh;
    color: rgb(197, 195, 195);
}

.passwordContainer{
    background-color: rgb(14, 12, 12);
    padding: 20px 30px;
    width: 30vw;
    min-width: 500px;
    border-radius: 5px;
}

.passwordDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.passwordDisplay h2{
    color: white;
}

.btn{
    padding: 7px 10px;
    cursor: pointer;
}

.btnGenerate{
    width: 100%;
    padding: 7px 10px;
    cursor: pointer;
}

.charLength{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rangeInput{
    margin: 5px 0;
    width: 100%;
}

.checkBox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 35px 0;
}

.errorMessage{
    color: red;
    margin: 5px 0;
}